@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin:0;
    padding:0;
}

header.site-init{
    background-color: lightblue;
    color:black;
    height: 30vh;
}

.bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
